* {
    margin: 0;
    padding: 0;
}
.buttons {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.album {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10%;
    gap: 20px;
    font-family: verdana;
    
}
.image img {
    width: 100%;
    height: 100%;
}
.button2{
    display: flex;
}
.paragraph{
    padding: 10px;
}
button{
    padding: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px 0 0 10px  ;  
}


.buttons{
   padding: 10px;
}
button:hover{
   background-color: grey;
   outline: solid;
}
.image {
   height: 200px;
   border: solid;
}
h1 {
   grid-column: 1/4;
   text-align: center;
}



*{
    margin: 0;
    padding: 0;
}
.header_container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: orange;
    border: solid orange;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}
ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: flex-end;

}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-right: 20px;
    gap: 10px;
    
}
svg{
   color: white;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
label{
            display: grid;
            grid-template-columns: 200px;
        }
        .container{
            display: grid;
            justify-content: center;
            text-align: center;
            background-color: rgba(255, 0, 0, 0.525);
        }
        
        .Field{
            display: flex;
            border: solid;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        form{
            display: grid;
            gap: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            padding: 10px;

        }
        body{
            display: inline-grid;
            gap: 20px;
            border: solid;
            border-radius: 20px;
            grid-template-rows: 1fr 2fr;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: 0 0 50px 0 grey;
            background-image: url(./BG2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-color: grey;
            background-blend-mode: multiply;
            
        }
        html{
            display: grid;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        button{
            background-color: royalblue;
            padding: 10px 20px 10px 20px;
            border-radius: 5px;
            color: white ;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;
        }